html {
    font-family: 'Roboto', sans-serif;
}

body {
    display:flex;
    flex-direction: column;
}

.header-img {
    
    max-width: 500px;
    height: auto;
}

.box-1 {
    background-color: #1F2937;
    padding: 10px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}


.links {
    display: flex;
    list-style-type: none;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.content {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    gap: 50px;
}

.left-content {
  display: flex;
  flex-direction: column;
}

.main-text {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    min-width: 100px;
    min-height: 30px;
    max-width: 100px;
    min-height: 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    border:0;
    margin-top: 10px;
}

.box-2 {
    display: flex;
    flex-direction: column;
    margin: 0px 150px 50px 150px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.info-text {
    font-size: 36px;
    font-weight: 700;
}

.information {
    display: flex;
    justify-content: center;
}

.thumbnail {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    object-fit: fill ;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.info-image {
    max-width: 200px;
    padding: 50px;
    text-align: center;
}

.info-image .secondary-text {
    color: grey;
}

.box-3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px 200px;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.author-text {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
}

.box-4 {
    margin: 50px 100px;
}

.action-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 50px 100px;
    gap: 100px;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.action-text {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.action-box .secondary-text {
    color: #F9FAF8;
    font-size: 18px;
}

.action-box button {
    min-width: 100px;
    min-height: 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
    margin-top: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    padding: 25px 100px;
}
